name: build-major

on:
  workflow_dispatch:
  #schedule: [cron: '1 * * * *'] # every 1 hour # [cron: '10 0 */3 * *'] # every 3 days
  #push:
  #  branches: [master, main]
  #  tags-ignore: ['**']

env:
  # github.repository as <account>/<repo>
  #IMAGE_NAME: github.repository
  DOCKER_HUB_IMAGE_NAME: skipero/neat-ci

jobs:
  plan:
    name: Generate the build matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.result }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - uses: actions/github-script@v6
        id: set-matrix
        with:
          github-token: 'empty' # the token is not needed for the script running
          script: return await require('./.github/scripts/generate-major-node-matrix.js')({github, context, core})
        env:
          source-image: library/node
          target-image: ${{ env.DOCKER_HUB_IMAGE_NAME }}
          tags-map: |
            1:24-trixie-slim

  build:
    name: Build the docker image (${{ matrix.targetTag }})
    needs: [plan]
    if: ${{ fromJSON(needs.plan.outputs.matrix).include[0] }} 
    # docs <https://bit.ly/2YHHXXs>
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.plan.outputs.matrix) }}
      #  include:
      #    - {tag: foo, platforms: 'platform/one,platform/two/v2'}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}

      #- uses: docker/login-action@v3
      #  with:
      #    registry: ghcr.io
      #    username: github.actor
      #    password: secrets.GITHUB_TOKEN

      - uses: docker/build-push-action@v6 # Action page <https://github.com/docker/build-push-action>
        if: ${{ !env.ACT || vars.LOCAL_PUSH }} 
        # gh act -j build --secret-file .env --var-file .env --var LOCAL_PUSH
        with:
          context: .
          file: Dockerfile
          push: true # comment this line for the local workflow running
          platforms: ${{ matrix.platforms }}
          build-args: "FROM_IMAGE=node:${{ matrix.sourceTag }}"
          tags: |
            ${{ env.DOCKER_HUB_IMAGE_NAME }}:${{ matrix.targetTag }}
          
#  ghcr.io/env.IMAGE_NAME:matrix.targetTag
